flows/New_Customer_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>New Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Account_Creation</name>
        <label>Account Creation</label>
        <locationX>305</locationX>
        <locationY>131</locationY>
        <connector>
            <targetReference>Contact_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_Creation</name>
        <label>Contact Creation</label>
        <locationX>455</locationX>
        <locationY>128</locationY>
        <connector>
            <targetReference>Opportunity_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_Creation</name>
        <label>Opportunity Creation</label>
        <locationX>608</locationX>
        <locationY>122</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <dateValue>2016-10-16</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>Opening_Screen</name>
        <label>Opening Screen</label>
        <locationX>148</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Creation</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Opening_Screen</startElementReference>
</Flow>
